@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400i,700i&display=swap');

@font-face {
    font-family:'Lato Hairline';
    src: url('..fonts/latohairline/lato_hairline.woff2') format('woff2'),
         url('../fonts/latohairline/lato_hairline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline Italic';
    src: url('..fonts/latohairline/lato_hairlineitalic.woff2') format('woff2'),
         url('../fonts/latohairline/lato_hairlineitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'normalize';
@import 'mixin';

$main-color:#f57365;
$brand-color: #4a3949;

* {
	box-sizing: border-box;
}



html {
	font: 10px/1.6 'Lato', 'Noto Serif', 'Lato Hairline Italic', 'Lato Hairline',  sans-serif;
	height: 100%;
}

body {
     font-size: 1.6rem;
     color: #333;
     min-height: 100%
}

.section {
	&--grey {
		background-color: #f7f7f7;
		
	}
	&--purple {
		background-color: #4a3949;
		background-image: url(../img/img7.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.container {
	max-width:1200px;
	width:96%;
	margin:0 auto;
	position:relative;
}

header {
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index:1; //костыль :D;
	
}

nav {
	display: flex;
    justify-content: space-between;
}

.logo {
	@include hover {
		transform:rotate(360deg);
	}
}

.menu {
	&__list {
		list-style-type:none;
		margin-top: 45px;
	}
	&__links {
		display:inline-block;
	}
	&__link {
		color:#fff;
		text-decoration:none;
		text-transform:uppercase;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 1.4rem;
		padding-right:30px;
		@include hover {
			color:#f57365;
		}
	}
	&__btn {
		@include hover{
		transform:rotate(360deg);
		}

	}
}

.cover {
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	color:#fff;
	&__title {
		font-family: 'Lato';
		font-size: 10rem;
		font-weight: 700;
		margin: 0;
		text-transform:uppercase;
		letter-spacing:5px;
	
	}
	&__subtitle {
		font-family:'Noto Serif';
		font-size: 3.2rem;
		font-weight: 700;
		font-size: italic;
		margin: 0;
		opacity:.6;
		line-height:1;
	}
}

.flex{
	display:flex;
	&--column {
		flex-direction:column;
		align-items: center;
		justify-content: center;
	
		.cover & {
			height: 100%;
		}
		&--row {
			flex-direction:row;
		}
	}
}


.btn {
		font-size: 1.8rem;
		text-transform:uppercase;
		text-decoration:none;
		border:2px solid #fff;
		color:#fff;
		padding: 15px 80px 20px 80px;
		margin-bottom:25px;
			@include hover {
			color:#000;
			background-color: #fff;
			border:2px solid #fff;
			}
	}

.reward {
	color:#fff;
	font-weight: 700;
	@include hover {
		color:$main-color;
	}
}

.title {
	font-size: 1.8rem;
	text-transform: uppercase;
	display: flex;
	flex-direction:column;
	align-items:center;
	&::after {
			content: '';
			border-bottom: 1px solid red;
			width: 50%;
		}
	&--app {
		display: flex;
		align-items:flex-start;
		&::after {
			content: '';
			border-bottom: 1px solid red;
			width: 15%;
		}
	}
	&--cuisines {
		margin:100px 0 40px 0;
		&::after {
			content: '';
			border-bottom: 1px solid red;
			width: 6%;
		}
	}

}

.features{
	margin:100px 0;
	width: 100%;
	text-align: center;
	display: flex;
	&__block {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
		margin: 0 50px;
	}
	&__imgs {
		display: flex;
		justify-content:center;
		align-items:center;
		border:2px solid black;
		border-radius:100px;
		width: 100px;
		height: 100px;
		&--center {
			margin: 0;
		}
	}
	&__title {
		margin: 0 13%;
		margin: 20px 0 30px 0;
	}
}

.app {
	display: flex;
	&__img {
			margin-top: 100px;
			height: 760px;
			max-width: 80%;
			width: 70%;
			overflow: hidden;
	}
	&__info {
			margin-top: 100px;
			margin-left: 116px;
			width: 800px;
	}
	p {
			font-size: 1.6rem;
			color:#676767;
			font-weight:300;
	}
	&__link {
		text-decoration: none;
	}
}

.review {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	color:#f4f3f4;
	text-align: center;
	list-style-type:none;
	&__img-box {
		margin: 80px 0 30px 0;
		width: 100px;
		height: 100px;
		min-height:100%;
		border:5px solid grey;
		border-radius:60%;
		overflow: hidden;
		position: relative;
	}
	&__img {
		position: absolute;
		top:-15%;
		left: -30%;
	}
	&__quote {
		font-family:'Lato Hairline';
		font-size: 3rem;
		opacity:.8;
	}
	&__author {
		font-family: 'Lato Hairline Italic';
		font-size: 1.8rem;
		opacity:.8;
		margin-top: 30px;
		margin-bottom: 40px;
	}
}

.slider {
	&__dots {
		list-style-type: none;
		padding: 0;
		li {
		display: inline-block;
		}
	}
	&__dot {
		background-color:#fff;
		border:1px solid #fff;
		width: 10px;
		height: 10px;
		border-radius:50%;
 		padding: 0;
 		outline:none;
 		opacity:.5;
 		@include hover{
 			opacity:1;
 		}
	}
}

.cuisines {
	display: flex;
	flex-wrap:wrap;
}

.cuisine {
	color:#fff;
	text-transform: uppercase;
	position: relative;
	margin-bottom: -10px;
	text-shadow: 1px 1px 2px #000;
	width: 20%;
	&__link {
		color:#fff;
		font-size: 0;
	}
	&__img{
	width: 100%;
	@include hover {
		opacity:.5;
	}
	}
	&__title {
		font-family: 'Lato';
		font-weight: 700;
		font-size: 3.6rem;
		position: absolute;
		top:50%;
		left: 50%;
		transform:translate(-50%, -90%);
		
	}
	&__subtitle {
		font-family:'Noto Serif';
		font-size: 1.5rem;
		position: absolute;
		top:50%;
		left: 50%;
		transform:translate(-50%, -110%);
	}
}

.amounts {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

.amount {
		width: 100%;
		text-align: center;
	&__title{
		font-size: 3.6rem;
		margin: 0;
	}
	&__subtitle {
		font-size: 1.6rem;
		color:#444444;
		margin: 0;
	}
}

footer {
	background-color: #f7f7f7;
	border-top:2px solid #e2e2e2;
	height: 90px;
	display: flex;
	.container {
		display: flex;
		justify-content:space-between;
		align-items:center;
	}
}

.copyright {
	span {
		font-size: 1.4rem;
		color: #d3d3d3;
	}
}

.made-by {
	letter-spacing: 4px;
	span {
		color:#8b8b8b;
	}
	a {
		text-decoration: none;
		color:#000;
		font-weight: 700;
	}
}
